@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';

[x-cloak] {
    display: none;
}


button {
    margin: 0;
    padding: 0;
}


.custom-scrollbar::-webkit-scrollbar {
    height: 8px; /* Altura de la barra de desplazamiento horizontal */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #ffffff; /* Color del fondo de la barra de desplazamiento */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #0011ff8e; /* Color de la barra de desplazamiento */
    border-radius: 50px; /* Bordes redondeados de la barra de desplazamiento */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #0026ff91; /* Color de la barra de desplazamiento al pasar el ratón por encima */
}

/* estilos para el :-moz-user-disabled*/


/* Estilo para la caja de alerta */
.my-custom-alert {
    background-color: #f8f9fa; /* Fondo de la caja de alerta */
    /* border: 1px solid #ced4da; Borde de la caja de alerta */
    border-radius:50px;
}

/* Estilo para el título */
.my-custom-title {
    color: #343a40; /* Color del texto del título */
    font-size: 24px; /* Tamaño del texto del título */
}

/* Estilo para el botón de confirmación */
.my-custom-confirm-button {
    background-color: #7e22ce; /* Fondo del botón de confirmación */
    color: white; /* Color del texto del botón de confirmación */
    border: none; /* Sin borde */
}

/* Estilo para el botón de negación */
.my-custom-deny-button {
    background-color: #1e40af; /* Fondo del botón de negación */
    color: white; /* Color del texto del botón de negación */
    border: none; /* Sin borde */
}

